@model ilk.Models.departmanlar
@{
    ViewData["Title"] = "DepartmanGetir";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<br />

@using (Html.BeginForm("DepartmanGuncelle", "departman", FormMethod.Post))
{
    <b>Departman ID</b>
    @Html.TextBoxFor(x => x.departman_id, new { @class = "form-control" })
    <br />
    <b>Departman Adı</b>
    @Html.TextBoxFor(x => x.departman_adi, new { @class = "form-control" })
    <br />
    <button class="btn btn-default" style="background-color:darkslategrey; color:white;">Departman Güncelle</button>
}
