@using ilk.Models

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<br />
<h1>Departman</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>Departman ID</th>
        <th>Departman Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
   @foreach(var x in Model){
        <tr>
            <td>@x.departman_id</td>
            <td>@x.departman_adi</td>
            <td><a href="" class="btn btn-danger">Sil</a></td>
            <td><a href="" class="btn btn-success">Güncelle</a></td>
            <td><a href="" class="btn btn-default" style="background-color:#dee61d">Detaylar</a></td>
        </tr>
    }
</table>

<a href="/departman/DepartmanEkle" class="btn btn-primary">Departman Ekle</a>